
#fname, #lname, #email, #Contact{
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

label{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(15,127,112,1) 100%);
}

table{
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(36,140,170,1) 100%);
}

.row{
    background: rgb(238,237,174);
    background: linear-gradient(90deg, rgba(238,237,174,1) 0%, rgba(28,199,186,1) 100%);
}